.site-logo {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.site-link {
    cursor: pointer; // for non links

    transition: transform 0.25s, color 0.25s;
    
    &:hover {
        transform: translate(0.1rem, 0.1rem);
        color: var(--link-hover-color);
    }
}