.hero-wave-background {
    background-image: radial-gradient( circle at top right, var(--main-background), var(--main-color) 100% ); // sunshine gradient

    .hero-wave-wrapper {
        display: flex;
        padding: 5rem 0; // vertically align

        .hero-wave-content {
            text-align: left;
            flex-basis: 65%;
            padding-right: 1rem;
            line-height: 5rem;

            .hero-wave-content-description {
                width: 0;
                white-space: nowrap; // keeps the content on a single line
                overflow: hidden; 
                border-right: .2em solid var(--contrast-color);
                letter-spacing: .04em; 

                animation: typing 1.5s 1.6s steps(40, end) forwards,
                    blink-caret 1s step-end infinite;
            }

            @media (max-width: $breakpoint--large) {
                line-height: 4rem;
            }
        }

        .hero-wave-visual-wrapper {
            flex-basis: 35%;

            .hero-wave-visual-image {
                min-width: 25rem;
                min-height: 25rem;

                @media (max-width: $breakpoint--large) {
                    /* !!! STOP THE SHRINKING !!! */
                    min-width: 20rem;
                    min-height: 20rem;
                }
            }
        }

        @media(max-width: $breakpoint--medium) {
            flex-direction: column;
            padding: 2rem 0;

            .hero-wave-content {
                text-align: center;
                padding-right: 0; // variable reset

                .hero-wave-content-description {
                    margin: 0 auto; // for typewriter animation
                }
            }

            .hero-wave-visual-wrapper {
                order: -1;

                .hero-wave-visual-image {
                    max-width: 27rem;
                    max-height: 27rem;
                }
            }
        }
    }
}

// typing effect
@keyframes typing {
    to { width: 19em; }
}
  
// typewriter cursor
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--contrast-color); }
}