/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$triangle-size: 			1.5rem;		            // width and height

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.triangle-down {
    display: block;
    margin: auto; // align block in center
    width: 0; 
    height: 0; 
    
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent;
    border-top: $triangle-size solid;

    transition: transform 0.25s, color 0.25s;

    &.round {
        border-radius: $triangle-size / 5;
    }

    &.hero-wave-triangle {
        animation: spin 1s 3s;
    }

    &:hover {
        transform: scale(1.1);
        color: var(--link-hover-color);
    }
  }